* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: darkslategrey;
}

.container {
    width: 1000px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: linear-gradient(to right, lightgray 50%, white 50%);
}

.player-0 {
    float: left;
    width: 150px;
    height: 150px;
    margin-left: 15%;
    margin-top: 12%;
    background-color: lightgray;
}

.player-1 {
    float: right;
    margin-right: 15%;
    margin-top: 12%;
    width: 150px;
    height: 150px;
    background-color: white;
}

.player-name-0,
.player-name-1,
.current-scores {
    text-align: center;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
}

.card-total-scores {
    background-color: darkred;
    color: #fff;
    width: 80%;
    margin-top: 200px;
    transform: translate(30%);
    padding: 12px;
    text-align: center;
}

.total-scores {
    text-transform: uppercase;
    margin-bottom: 10px;
    color: #222;
    padding: 10px;
    font-size: 30px;
}

.winner {
    color: darkred;
    font-size: 35px;
}

.buttons {
    position: absolute;
    left: 50%;
    display: flex;
    width: 100px;
    height: 50px;
    flex-direction: column;
    justify-content: space-between;
    transform: translate(-50%);
}

.buttons>button {
    font-size: 20px;
}

.btn-new-game {
    margin-top: 100px;
}

.btn-roll-dice {
    margin-top: 350px;
}

.btn-hold {
    margin-top: 10px;
}

.dice {
    position: absolute;
    left: 50%;
    top: 178px;
    transform: translateX(-50%);
    height: 150px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}

.dice2 {
    position: absolute;
    left: 50%;
    top: 340px;
    transform: translateX(-50%);
    height: 150px;
    box-shadow: 0px 10px 60px rgba(0, 0, 0, 0.10);
}