body{
    background-image: linear-gradient(45deg, red, blue);
}
.players{
    position: absolute;
    display: flex;
    font-size: 20px;
    top: 30%;

}
.players > div {
    width: 45rem;
    text-align: center;
    
}
.buttons{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}
img{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
